*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#upcontainer{
    min-height:10vh;
    background-color: rgba(0, 0, 0, 0.726);
    min-width: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#upcontainer button{
    border-radius: 30px;
    border: 1px solid white;
    color: white;
    padding: 1%;
    font-size: 1em;
    background-color:rgba(0, 0, 0, 0.726) ;
    margin-right: 1%;
}
#leftmenu{
    width: 30%;
    max-width: 30%;
    height: 80vh;
    max-height: 80vh;
    background-color: black;
}
footer{
    min-height:10vh;
    height: 10vh;
    background-color: rgb(66, 66, 66);
    min-width: 100%;
    width: 100%;
}