*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/**qui vanno gestite le divertentissime formattazioni del container nero**/
#leftmenu{
    width: 30%;
    max-width: 30%;
    height: 90vh;
    max-height: 90vh;
    background-color: rgb(0, 0, 0);
    overflow: auto;
    display: flex;
    flex-direction: column;
}
#leftmenu img{
    max-width:60%;
    margin: 3% 8%;
}
#options{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 3% 8%;
}
#options span{
    color: rgb(121, 121, 121);
    font-weight: 800;
    font-size: 2em;
}
#playlist span{
    color:rgb(121, 121, 121);
    font-weight: 800;
    font-size: 2em;
    margin: 0% 8%;
    line-height: 2em;


}
#luser{
  background-color: beige;
    
}
/**qui sono finite le divertentissime formattazioni del container nero**/
#Rcontainer{
    min-height:90vh;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.726);
    min-width: 70%;
    width: 70%;
    display: flex;
    justify-content:space-between;
    align-items: flex-end;
    flex-direction: column;
}
#Rcontainer button{
    border-radius: 30px;
    border: 1px solid white;
    color: white;
    padding: 2%;
    font-size: 1em;
    background-color:rgba(0, 0, 0, 0.726) ;
    margin-right: 1%;
}
#upgradecell{
    background-color: rgb(6, 18, 71);
    min-width: 100%;
    width:100%;
    max-height: 10vh;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
footer{
    min-height:10vh;
    height: 10vh;
    background-color: rgb(66, 66, 66);
    min-width: 100%;
    width: 100%;
}
main{
    display: flex;
    
}